/* Write your CSS code here */
.bg-container {
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding: 40px;
}
.website-login {
  height: 60vh;
  width: 50vw;
  margin-right: 20px;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  height: 70vh;
  width: 40vw;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.website-logo {
  height: 120px;
  width: 32px;
  margin-bottom: 60px;
}
.error {
  font-family: roboto;
  font-size: 20px;
  color: #ff0b37;
}
.label-text {
  font-family: roboto;
  font-size: 23px;
  font-weight: bold;
  color: #475569;
}
.input-field {
  background-color: #d7dfe9;
  color: #64748b;
  font-family: roboto;
  font-size: 20px;
  border-radius: 4px;
}
.button {
  background-color:;
  font-family: roboto;
  font-size: 30px;
  color: #ffffff;
  height: 70px;
  width: 16px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
